name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
     - uses: Platane/snk@v3
  with:
    github_user_name: Kush-012
    outputs: |
      dist/github-contribution-grid-snake.svg?color_snake=#22c55e&color_dots=#cbd5e1,#86efac,#4ade80,#22c55e,#16a34a
      dist/github-contribution-grid-snake-dark.svg?color_snake=#22c55e&color_dots=#0f172a,#14532d,#166534,#22c55e,#4ade80


      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
